body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #666;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.SqlFile {
  fill: #fcfcfc;
  stroke: #666;
  stroke-width: 2px;
}

.SvgSqlFile {
  fill: rgb(84, 84, 156);
}
.SvgTable {
  fill: rgb(194, 94, 94);
}
.SvgTableTitle {
  fill: #9c9;
  stroke: #666;
  stroke-width: 1px;
}
.SvgTableColumn {
  fill: #ccc;
  stroke: #966;
  stroke-width: 1px;
}
.SvgTableColumn_selected {
  fill: #c66;
  stroke: #333;
  stroke-width: 2px;
}

